@use "@styles/variables";
.Curiosities{
    &__text{
        width: 90%;
        /* min-height: 25rem ; */
        text-align: justify;
        line-height: 2.4rem;
        margin: auto;
        @media (min-width: 768px) {
          margin: 2.2rem 6.2rem 2.2rem;
        }   
    }
    &__img{
        display: flex;
        max-height: 20.5rem;
        border-radius: 2.4rem;
        margin: 3rem auto;
        object-fit: cover;
        @media (min-width: 1024px) {
          width: 34rem;
            width: 50rem;
            max-height: 27.3rem;
        }
    }
  }