@use "@styles/variables";

.oceanCuriosities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  &__image {
    border-radius: 2.4rem;
    width: 16.6rem;
    height: 16.6rem;
    margin-top: 3rem;
    z-index: 5;
    margin-bottom: 3rem;

    @media (min-width: 768px) {
      width: 54rem;
      height: 36.8rem;
    }
    @media (min-width: 1024px) {
      width: 84rem;
      height: 56.8rem;
    }
  }

  &__arrows {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    min-width: 15.9rem;
    @media (min-width: 1024px) {
      width: 39.2rem;
    }
  }
}
