@use "@styles/variables";

// background-color: red;

.title {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 4.6rem 0rem;
  text-align: center;
  -webkit-text-stroke: 0.5px black;
}

.paragraph {
  text-align: left;
  margin-bottom: 4.6rem;
}

.containerCard {
  display: flex;
  gap: 40px;
  margin-bottom: 4.6rem;
}

.containerText {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 57px;
  margin-bottom: 4.7rem;
  gap: 102px;

  .containerTitle {
    font-size: 2.5rem;
    margin: 0px;
    width: 433px; //tamanho relativo
  }

  .containerParagraph {
    margin: 0px;
  }
}

.containerImage {
  display: flex;
  justify-content: center;

  img {
    z-index: 1;
  }
}

.containerBackgroundImage {
  position: relative;
  width: 100%;

  .backgroundImage {
    opacity: 0.2;
    position: absolute;
    bottom: -90%;
    width: 100%;
  }
}