@use "@styles/variables";
@import "@styles/mixins.scss";

.button {
  background-color: transparent;
  border: none;

  .card {
    display: none;
    @include bg_cardColor();

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      border-radius: 15px;
    }

    &__relative {
      position: relative;

      &--selected {
        border: 8px solid variables.$red;
        border-radius: 2rem;
        height: 100%;
        left: -11px;
        padding: 3px;
        position: absolute;
        top: -11px;
        width: 100%;

        @media (max-width: 1439.9px) {
          display: none;
        }
      }
    }

    &__link {
      cursor: pointer;
      background-color: variables.$grey;
      padding: 13px 60px;
      border-radius: 38px;
      color: variables.$white;
      text-decoration: none;
      font-size: 1.8rem;
      margin-bottom: 30px;
      font-weight: bold;
    }

    &--medium {
      width: 15.5rem;
      height: 6rem;

      @media (min-width: 768px) {
        min-width: 60%;
      }
    }

    &--large {
      width: 22rem;
      height: 7.3rem;

      @media (min-width: 768px) {
        min-width: 60%;
      }
    }
  }
}
