@use "@styles/variables";

@mixin inputText {
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: variables.$darkBlue;
  opacity: 0.4;
  width: 100%;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 34rem;
  height: 5.1rem;
  background: variables.$offWhite;
  border-radius: 10rem;
  box-sizing: border-box;
  padding: 0 2.5rem;

  &:focus {
    outline: variables.$black solid 2px;
  }

  @media (min-width: 1024px) {
    width: 70rem;
    height: 5.4rem;
  }

  &__box {
    width: 80%;
    margin-left: 1rem;
    background: variables.$offWhite;
    border: none;
    @include inputText;
  }

  &__box:placeholder-shown {
    @include inputText;
    font-size: 1.8rem;
  }
}

.inputContainerFavoriteAnimal {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  padding: 0.41rem 0;
  margin-bottom: 23px;
  max-width: 340px;
  background: variables.$offWhite;
  border-radius: 10rem;


  &:focus {
    outline: variables.$black solid 2px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 700px;
    padding: 0.69rem 0;
    width: 100%;
    padding-left: 1.2rem;
  }

  &__box {
    width: 80%;
    background: variables.$offWhite;
    border: none;
    @include inputText;
  }

  &__box:placeholder-shown {
    @include inputText;
  }
}