@use "@styles/variables";

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  background: variables.$offWhite;
  border-radius: 10rem;

  &__box {
    width:80%;
    height: 3rem;
    background: variables.$offWhite;
    border: none;
    border-radius: 10rem;
    text-align: center;
  }

  &__box:placeholder-shown {
    font-style: italic;
    font-size: 0.8rem;
    line-height: 4.2rem;
    color: variables.$darkBlue;
    opacity: 0.4;
  }
}
