@use "@styles/variables";

.footerContainer {
  background-color: variables.$color-000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 400;
  line-height: 0.313em;

  padding-top: 2.813rem;
  padding-bottom: 2.813rem;
  &__linkedinLogo {
    cursor: pointer;
  }
  &__instaLogo {
    cursor: pointer;
  }

  @media (min-width: 768px) {
    flex-direction: row;
   
  }

  &__logoParagraph {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
  }
  &__logo {
    padding-left: 0.5em;
  }
  &__copyParagraph {
    font-size: 1.6rem;
  }
}
