@use "@styles/variables";

.AnimalsTag {
  &--text {
    z-index: 5;
    z-index: 1;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 400;
    width: fit-content;
    border-radius: 3.8rem;
    padding: 0.8rem 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: left;
  }
}
