.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  opacity: 90%;
  margin: 2.2rem auto;
  width: 34rem;
  @media screen and (min-width: 1440px) {
    width: 50rem;
  }


  &__image {
    display: flex;
    width: 34rem;
    max-height: 20rem;
    border-radius: 2.4rem;
    margin: 0 auto;
    object-fit: cover;
    @media (min-width: 1440px) {
      width: 50rem;
      max-height: 27.3rem;
    }
  }
}
