@use "@styles/variables";

.favoriteAnimals {
 
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      max-width: 71rem;
      margin: 0 auto;
    }
  
    @media (min-width: 1024px) {
      max-width: 84rem;
      margin: 0 auto;
    }
  
    @media (min-width: 1440px) {
      max-width: 128rem;
    }
  

  &__Content {
    flex-direction: column;
    align-content: center;
  }
  &__Text {
    margin-bottom: 2.8rem;
  }
  &__Arrow {
    position: absolute;
    top: 67px;
    left: 20px;
  }

  &__Header {
    display: flex;
    //height: 2.5rem;
    justify-content: space-around;
    align-items: center;
    //margin-top: 40px;

    & a {
      position: absolute;
      top: 67px;
      left: 28px;
    }
  }

  &__Search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px auto;
    width: 100%;
  }

  &__Cards {
    display: grid;
    grid-template-columns: 34rem;
    gap: 3rem;
    align-items: center;
    width: 100%;
    justify-content: center;
    
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }

    @media (min-width: 1024px) {
      grid-gap: 4rem;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
