@use "@styles/variables";

.OceanWorldwide {
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    margin-bottom: 2rem;
  }
  &__arrow {
    position: absolute;
    top: 5rem;
    left: 2rem;
  }

  &__buttonUnit {
    margin-left: 1rem;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    position: relative;
    z-index: 100;
    row-gap: 20px;
    @media (min-width: 700px) {
      flex-direction: column;
    }

    @media (min-width: 1440px) {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 128rem;
      gap: 2rem;
    }
  }
  &__cardUnit {
    display: none;
    @media (width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      border-radius: 15px;
      margin: 1rem;
    }
  }
}
