@use "@styles/variables";
/* fonts: large, medium, small
size: 14px, 18px, 22px;
 */

.text {
  &--Xlarge {
    font-size: 2.2rem;
  }
  &--large {
    font-size: 1.8rem;
  }
  &--medium {
    font-size: 1.6rem;
  }
  &--small {
    font-size: 1.4rem;
  }

  &--black {
    color: variables.$black;
  }
  &--grey {
    color: variables.$grey;
  }
  &--white {
    color: variables.$color-000;
  }

  &--bold {
    font-weight: bold;
  }
  &--italic {
    font-style: italic;
  }
}
