@use "../../../styles/variables";
/* fonts: large, medium, small
size: 14px, 18px, 22px;
 */

.heading {
  &--large {
    font-size: 2.2rem;
  }
  &--medium {
    font-size: 1.8rem;
  }
  &--small {
    font-size: 1.4rem;
  }

  &--black {
    color: variables.$black;
  }
  &--grey {
    color: variables.$grey;
  }
  &--white {
    color: variables.$white;
  }

  &--bold {
    font-weight: bold;
  }
}
