@use "@styles/variables";

.heading {
  &--H1 {
    font-size: 3rem;
  }
  &--H2 {
    font-size: 2.2rem;
  }

  @media (min-width: 1024px) {
    &--H1 {
      font-size: 4.5rem;
    }
    &--H2 {
      font-size: 3rem;
    }
  }

  &--black {
    color: variables.$black;
  }
  &--grey {
    color: variables.$grey;
  }
  &--white {
    color: variables.$color-000;
  }

  &--bold {
    font-weight: bold;
  }
  &--italic {
    font-style: italic;
  }
}
