@use "@styles/variables";

.heading {
  &--H1 {
    font-size: 3rem;
  }
  &--H2 {
    font-size: 2.2rem;
  }

  //Responsive
  @media (min-width: 1024px) {
    &--H1 {
      font-size: 4.5rem;
    }
    &--H2 {
      font-size: 4rem;
    }
  }

  //Size modifiers
  &--small {
    font-size: 2.6rem;
  }
  /*
  &--Xlarge {
    font-size: 3rem;
  } */

  //Colors
  &--black {
    color: variables.$black;
  }
  &--darkBlue {
    color: variables.$darkBlue;
  }
  &--white {
    color: variables.$white;
  }

  //Weight
  &--normal {
    font-weight: normal;
  }
  &--bold {
    font-weight: bold;
  }
  &--italic {
    font-style: italic;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
