@use "@styles/variables";

.heading {
  font-weight: 400;
  font-style: italic;
  text-align: center;

  &--H1 {
    font-size: 3rem;
  }
  &--H2 {
    font-size: 2.2rem;
  }

  @media (min-width: 1024px) {
    &--H1 {
      font-size: 4.5rem;
    }
    &--H2 {
      font-size: 4rem;
    }
    &--small {
      font-size: 2.6rem;
    }
  }

  &--pageTitle {
    margin: 4rem 0;
    @media (min-width: 1024px) {
      margin: 5.5rem 0;
    }
    @media (min-width: 1440px) {
      margin: 7.5rem 0;
    }
  }

  &--black {
    color: variables.$black;
  }
  &--darkBlue {
    color: variables.$darkBlue;
  }
  &--white {
    color: variables.$white;
  }

  &--uppercase {
    text-transform: uppercase;
    font-style: normal;
  }
}
