@use "@styles/variables";
.AnimalsCuriosities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;

  &__Img {
    border-radius: 2.4rem;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    z-index: 5;

    @media (min-width: 768px) {
      width: 64rem;
      height: 46.8rem;
    }
    @media (min-width: 1024px) {
      width: 84rem;
      height: 56.8rem;
    }
  }
  &--Name {
    margin-top: 3rem;
  }
  &__Text {
    line-height: 2.8rem;
    opacity: 0.8;
    margin: auto;
    margin: 3rem auto 3rem auto;
    overflow-y: auto;
    text-align: left;
  }
  &__Tag {
    display: flex;
    flex-direction: row;
    @media (min-width: 768px) {
      margin: 2rem auto 3rem auto;
      background-color: variables.$white;
      position: relative;
      width: 49.5rem;
      justify-content: space-evenly;
    }
  }

  &--button-left {
    cursor: pointer;
    z-index: 5;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    @media (min-width: 768px) {
      position: relative;
    }
  }

  &--button-right {
    cursor: pointer;
    z-index: 5;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    @media (min-width: 768px) {
      position: relative;
    }
  }
}
