@use "@styles/variables";
.animalsCuriosities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 0 auto;

  &__image {
    border-radius: 2.4rem;
    width: 26.6rem;
    height: 26.6rem;
    margin-top: 3rem;
    z-index: 5;

    @media (min-width: 768px) {
      width: 64rem;
      height: 46.8rem;
    }
    @media (min-width: 1024px) {
      width: 84rem;
      height: 56.8rem;
    }
  }

  &__tag {
    display: flex;
    flex-direction: row;
    @media screen and (min-width: 768px) {
      margin: 2rem auto 3rem auto;
      background-color: variables.$white;
      position: relative;
      width: 49.5rem;
      justify-content: space-evenly;
    }
  }

  &__text{
    width: 80%;
  }
}