.content {
  box-sizing: border-box;
  margin: 0 auto 20rem;

  @media (min-width: 1024px) {
    margin: 0 auto 25.4rem;
    max-width: 90rem;
  }

  @media (min-width: 1440px) {
    max-width: 128rem;
  }
}
