@use "@styles/variables";

.NavbarDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0;

  @media (min-width: 1440px) {
    width: 109rem;
    padding-left: 6rem;
  }

  &__li {
    list-style: none;
    max-width: 140px;
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    @media (min-width: 1440px) {
      width: 112rem;
    }
  }

  &__item {
    text-decoration: none;
    color: variables.$black;
    font-size: 1.8rem;
    line-height: 2rem;
    cursor: pointer;
    justify-content: space-between;
  }
}

