@use "@styles/variables";

.OceanWorldwide{
  display: none;
    position: relative;
    background-color: $blue;
    width: 100%;
    height: 100vh;
    border-top-left-radius: 4.2rem;
    border-top-right-radius: 4.2rem;z-index: 10;

    
  &__header{
    display: flex;
    margin: -5rem auto 4.1rem 0.2rem;
    width: 100%;
    height: 2.5rem;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    
   }
   &__Arrow {
    position: absolute;
    top: 50px;
    left: 20px;
  }

   &--rectangle{
      display: none;
          
  }
  &__content{    
    z-index: 100;
    background-color: variables.$white;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    border-top-left-radius: 4.2rem;
    border-top-right-radius: 4.2rem;
    &--buttons{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 54rem;
      justify-content: space-evenly;
      z-index: 5;
      position: relative;
      
    }  
  }
}
 


