@use "@styles/variables";
.GeneralCuriosities{
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    
&--Img{
border-radius: 2.4rem;
width: 30rem;
height: 31.2rem;
margin-top: 3rem;


    @media (min-width: 768px) {
        width: 45rem;
        height: 45.6rem;
    }

}
&--Text{
    width: 32.1rem;
    line-height: 2.8rem;
    opacity: 0.6;
    margin: auto;
    margin: 3rem auto 3rem auto;
    overflow-y: auto;
    text-align: justify;
    
    @media (min-width: 768px) {
        width: 45rem;
    }
}
&--Tag{    
    margin: 2rem auto -3rem auto;
    text-align: center;
    font-weight: bold;
    @media (min-width: 768px) {
        margin: 2rem auto 3rem auto;
    }
    
}
&--Arrow{
    display: flex;
    justify-content: space-evenly;
    margin: 5rem auto 0rem auto;
    width: 30rem;

    
}
&--button-left{
    cursor: pointer;
    z-index: 5;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

        @media (min-width: 768px) {
            position: absolute;
            top: 350px;
            left: 10%;
        }
    }

    &--button-right{
        cursor: pointer;
        z-index: 5;
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        overflow: visible;
        background: transparent;
    
            @media (min-width: 768px) {
                position: absolute;
                top: 350px;
                right: 10%;
            }
        }
    }





