@use "@styles/variables";
.heroInfo__container {
  overflow: hidden;
  display: flex;
  
}
.heroInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 27rem;
  height: 77rem;
  background: variables.$darkBlue;
  margin: 0 auto;
  border-radius: 5rem;
  @media screen {
    @media (min-width: 420px) {
      width: fit-content;
      
    }
    @media (min-width: 1440px) {
      display: flex;
      align-content: space-between;
      flex-direction: column;
      width: 128rem;
      height: 42.7rem;
    }
   
  }

  &__header {
    display: inline-block;
    position: relative;

    @media screen {
      @media (min-width: 420px) {
        margin-top: 2rem;
      }
      @media (min-width: 1024px) {
        margin-top: 0;
        order: 2;
      }
    }
  }

  &__img {
    width: 40rem;
    height: 27rem;
    transform: rotate(270deg);
    border-radius: 0 5rem 5rem 0;
    margin-top: 6.5rem;
      @media (min-width:420px){
        margin-top: -2rem;
        width: 40rem;
        height: 40rem;
        border-radius: 0 5rem 5rem 0;
        
        
      }
      @media (min-width: 1024px) {
        width: 66rem;
        height: 42.7rem;
        transform: rotate(0);
        margin-top: 15.56rem;
        border-radius: 0 0 5rem 5rem;
      }

      @media (min-width: 1440px) {
        width: 66rem;
        height: 42.7rem;
        transform: rotate(0);
        margin-top: 0;
        border-radius: 0 5rem 5rem 0;
      }
    
  }


  &__topContainer {
    width: 25.3rem;
    height: 2.948rem;
    background-color: white;
    border-radius: 5rem;
    position: absolute;
    display: flex;
    left: 18.5%;
    top: 100%;
    justify-content: center;
    align-items: center;

    @media screen {
      @media (min-width: 420px) {
        left: 30%;
        top: 5%;
        
      }
      @media (min-width: 1024px) {
        left: -85%;
        top: 8%;
      }
      
    } 
  }
  &__icon {
    width: 2.173rem;
    height: 2.173rem;
  } 
  &__title {
    margin-left: 1rem;
    width: fit-content;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: black;
  }

  &__botContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen {
      @media (min-width: 1024px) {
        margin-left: 5rem;
        order: 1;
      }
    }

   

    
  }

  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 3.1rem;
    text-align: center;
    width: fit-content;
    color: variables.$white;
    margin-top: 3.06rem;
    display: none;
    @media (min-width: 420px) {
      display: flex;
    }
    @media screen {
      @media (min-width: 1024px) {
        display: flex;
        width: 52rem;
        height: 15.4rem;
        font-size: 5rem;
        line-height: 7.7rem;
        letter-spacing: -0.04em;
        margin-top: 1.04rem;
        text-align: left;
      }
      @media (min-width: 1440px) {
        width: 52rem;
        height: 15.4rem;
        font-size: 5rem;
        line-height: 7.7rem;
        letter-spacing: -0.04em;
        margin-top: 10.5rem;
        text-align: left;
      }
    }
  }
  &__description {
    width: 24.1rem;
    height: 6.6rem;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    text-align: center;
    color: variables.$white;
    margin-top: 8rem;

    @media screen {
      @media (min-width: 420px) {
      width: 34.1rem;
      height: 6.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.8rem;
      text-align: center;
      color: variables.$white;
      margin-top: -1rem;
      }
    }

    @media screen {
      @media (min-width: 1024px) {
        width: 52rem;
        height: 5.6rem;
        text-align: left;
        margin-top: -9.5rem;
      }
    }
  }
  }
  
 
 


  

