.svgIcon {
  height: 32px;
  width: 32px;

  &--black {
    filter: invert(64%) sepia(0%) saturate(2919%) hue-rotate(7deg)
      brightness(84%) contrast(92%);
  }
  &--white {
  }
}

.iconContainer {
  height: 32px;
  width: 32px;
  cursor: pointer;
}
