@use "@styles/variables";

.button {
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;

  &--medium {
    width: 15.5rem;
    height: 6rem;
    @media (min-width: 768px) {
      min-width: 60%;
    }
  }
  &--large {
    width: 22rem;
    height: 7.3rem;
    @media (min-width: 768px) {
      min-width: 60%;
    }
  }

  &--blue {
    background-color: variables.$blue;
  }

  &--purple {
    background-color: variables.$purple;
  }
  &--green {
    background-color: variables.$green;
  }
  &--oliveGreen {
    background-color: variables.$oliveGreen;
  }
  &--red {
    background-color: variables.$red;
  }
  &--pink {
    background-color: variables.$pink;
  }

  // &--color-100 {
  //   background-color: variables.$color-100;
  // }

  // &--color-200 {
  //   background-color: variables.$color-200;
  // }
  // &--color-300 {
  //   background-color: variables.$color-300;
  // }
  // &--color-400 {
  //   background-color: variables.$color-400;
  // }
  // &--color-500 {
  //   background-color: variables.$color-500;
  // }
  // &--color-600 {
  //   background-color: variables.$color-600;
  // }
  // &--color-700 {
  //   background-color: variables.$color-700;
  // }
  // &--color-800 {
  //   background-color: variables.$color-800;
  // }

  &--fontmedium {
    font-size: variables.$fontmedium;
  }

  &--fontsmall {
    font-size: variables.$fontsmall;
  }
}
