@use "@styles/variables";

.button {
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  @media (min-width: 1441px) {
    display: none;
    &__desktop {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 400px;
      border-radius: 15px;
    }
  }
  &__desktopLink {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 13px 60px;
    border-radius: 38px;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-bottom: 30px;
    font-weight: bold;
  }

  /*  &__linktag {
    background-color: rgba(255, 255, 255, 0.2);
   

    width: 234px;
    border-radius: 38px;
  } */
  &__desktop {
    @media (max-width: 1440px) {
      display: none;
    }
  }
  &--medium {
    width: 15.5rem;
    height: 6rem;
    @media (min-width: 768px) {
      min-width: 60%;
    }
  }
  &--large {
    width: 22rem;
    height: 7.3rem;
    @media (min-width: 768px) {
      min-width: 60%;
    }
  }

  &--color-100 {
    background-color: variables.$color-100;
  }

  &--color-200 {
    background-color: variables.$color-200;
  }
  &--color-300 {
    background-color: variables.$color-300;
  }
  &--color-400 {
    background-color: variables.$color-400;
  }
  &--color-500 {
    background-color: variables.$color-500;
  }
  &--color-600 {
    background-color: variables.$color-600;
  }
  &--color-700 {
    background-color: variables.$color-700;
  }
  &--color-800 {
    background-color: variables.$color-800;
  }

  &--fontmedium {
    font-size: variables.$fontmedium;
  }

  &--fontsmall {
    font-size: variables.$fontsmall;
  }
}
