
@use "@styles/variables";
.Hero {
  margin-bottom: 10rem;
  display: none;
  @media screen {
  
  }

  &__container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  &__dots {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 2px solid variables.$grey;
    margin-top: 4.1rem;
    background-color: grey;

    &:not(:last-child) {
      margin-right: 3.5rem;
      
    }

    &--active {
      background-color: variables.$darkBlue;
      border: 2px solid variables.$darkBlue;
    }
  }
}
