.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.75rem;

  @media screen and (min-width: 1024px) {
    gap: 8.75rem;
  }

  @media screen and (min-width: 1440px) {
    gap: 12.5rem;
  }
}
