@use "@styles/variables";

.Header {
  box-sizing: border-box;
  display: grid;
  grid-area: header;
  grid-template-columns: repeat(4, 7rem);
  grid-gap: 2rem;
  grid-template-areas: logo logo navMobile navMobile;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: variables.$white;
  margin: 0 auto;
  padding: 0 1.75rem;
  height: 8.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(12, 7rem);
    grid-gap: 1rem;
    grid-template-areas: "logo logo navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop";
    align-items: center;
    justify-content: center;
    height: 14.2rem;
  }

  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: repeat(12, 7rem);
    grid-gap: 4rem;
    grid-template-areas: "logo logo navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop";
    height: 14.2rem;
  }

  &__logo {
    cursor: pointer;
    @media (min-width: 1024px) {
      position: relative;
      grid-area: logo;
      grid-column-start: 1;
      grid-column-end: 2;
      width: 13rem;
    }
  }

  &__menuMobile {
    margin: 0;
    @media (min-width: 1024px) {
      grid-area: navMobile;
      display: none;
    }
  }

  &__menuDesktop {
    display: none;
    @media (min-width: 1024px) {
      grid-area: navDesktop;
      grid-column-start: 3;
      grid-column-end: 13;
      display: block;
    }
  }
}
