@use "@styles/variables";

.Header {
    display: grid;
    grid-area: header;
    grid-template-columns: repeat(4, 7rem);
    grid-gap: 2rem;
    grid-template-areas: logo logo navMobile navMobile;
    height: 7.6rem;
    align-items: center;
    position: fixed;
    top: 0;
    // display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1000;
    background-color: variables.$color-000;
    margin: 0 auto;
    
    @media (min-width: 1024px) {
        display: grid;
        grid-template-columns: 12, 7rem;
        grid-gap: 1rem; 
        grid-template-areas: "logo logo navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop";
        align-items: center;
        max-width: 1024px;
        height: 14.2rem;
        top: 0;
        left: 0;
        margin: 0 auto;
    }

    @media (min-width: 1440px) {
        display: grid;
        grid-template-columns: 12, 7rem;
        grid-gap: 4rem; 
        grid-template-areas: "logo logo navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop navDesktop";
        height: 14.2rem;        
        max-width: 1440px;
    }


    &__logo {        
        position: absolute;
        top: 0;
        left: 1.75rem;
        cursor: pointer;
        @media (min-width: 1024px) {
            position: relative;
            // left: 0;
            grid-area: logo;            
            grid-column-start: 1;
            grid-column-end: 2;
        }

        &-img {
            @media (min-width: 1024px){ 
                width: 13rem;
            }
        }

    }

    &__menuMobile {
        margin: 0;
        @media (min-width: 1024px) {
            grid-area: navMobile;
            display: none;
        }
    }

    &__menuDesktop {
        display: none;
        @media (min-width: 1024px) {
           grid-area: navDesktop;                       
           grid-column-start: 3;
           grid-column-end: 12;
           display: block;
        }
    }
}