@use "@styles/variables";

.header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: variables.$white;
  margin: 0 auto;
  padding: 0 1.75rem;
  height: 8.6rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);

  @media (min-width: 1024px) {
    height: 14.2rem;
    position: fixed;
    padding: 0;
  }

  &__internal {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (min-width: 1024px) {
      margin: 0 auto;
      width: 90rem;
      height: 14.2rem;
    }
    @media (min-width: 1440px) {
      width: 128rem;
    }
  }

  &__logo {
    cursor: pointer;
    @media (min-width: 1024px) {
      width: 13rem;
    }
  }

  &__nav {
    @media (min-width: 1024px) {
      width: 70rem;
    }
    @media (min-width: 1024px) {
      width: 115rem;
    }
  }
}
