.arrow {
  cursor: pointer;
  width: 2.2rem;
  height: 1.4rem;

  @media (min-width: 768px) {
    width: 3.4rem;
    height: 1.8rem;
  }

  @media (min-width: 1024px) {
    width: 4.6rem;
    height: 2rem;
  }
}