.arrow {
  //Figma measurements: 33x27 (mobile) | 103x87 (desktop)
  cursor: pointer;
  width: 3.3rem;
  height: 2.7rem;
 
  &--right {
    transform: rotate(90deg);
  }

  &--left {
    transform: rotate(-90deg);
  }

  @media screen and (min-width: 768px) {
    width: 4.375rem;
    height: 3.75rem;
  }

  @media screen and (min-width: 1440px) {
    width: 10.3rem;
    height: 8.7rem;
  }
}