@use "@styles/variables";

.oceandex {
  background-color: transparent;
  width: 95%;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 71rem;
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    max-width: 84rem;
    margin: 0 auto;
  }

  @media (min-width: 1440px) {
    max-width: 128rem;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__cards {
    display: grid;
    grid-template-columns: 34rem;
    gap: 3rem;
    align-items: center;
    width: 100%;
    justify-content: center;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
    }

    @media (min-width: 1024px) {
      grid-gap: 4rem;
    }

    @media (min-width: 1440px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
