@use "@styles/variables";

.FavoriteAnimals {
  &__Container {
    width: 100%;
    min-height: 100vh;
    padding-top: 3.9rem;
    position: relative;
    margin-top: 12rem;
    z-index: 1;
  }

  &__Content {
    flex-direction: column;
    align-content: center;

    &--text {
      margin-bottom: 2.8rem;
    }
  }

  &__Arrow {
    position: absolute;
    top: 6.7rem;
    left: 2rem;
  }

  &__Header {
    display: flex;
    height: 2.5rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;

    & a {
      position: absolute;
      top: 6.7rem;
      left: 2.8rem;
    }
  }

  &__Search {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.2rem auto;
    width: 100%;

  }

  &__Cards {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-gap: 1rem 3rem;
    margin: 0 2.8rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}