@use "@styles/variables";
.AboutPage{  
    position: relative;
    background-color: variables.$color-000;   
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;

    @media (min-width: 768px) {
        background-color: variables.$color-000;
    }

    &__title {
        display: none;
        @media (min-width: 768px) {
            display: block;
            text-align: center;
            margin: -8rem 0 3rem;
        }
    }

    &__Content {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: row;
            background-color: variables.$color-000;
        }
        
    }
    &__tag{
        width: 100%;
        justify-content: space-around;
        margin-right: 2rem;
        display: flex;
        flex-direction: row;
        &--bg{
        display: flex;
        
        margin-right: 4rem;
        
    }}

    &__Container{
        background-color: variables.$color-500;
        display: flex;
        flex-direction: column;
        justify-content: center;  
        z-index: 5;  
        position: relative; 
        margin-top: 10rem;   

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: center;
            border-radius: 30px;
            width: 40%;
            height: 540px;
            margin: 0 20px 0 3%;     
        }
        
    &--bottom{
        height: 50vh;
        width: 100%;
        min-width: 380px;
        background-color: variables.$color-000;
        border-top-left-radius: 4.2rem;
        border-top-right-radius: 4.2rem;
        top: -3rem;
        display: flex;
        position: relative;
        overflow-y: scroll;
        z-index: 10;

        @media (min-width: 768px) {
            border-radius: 30px;
            max-width: 55%;
            height: 540px;
            margin: 0 3% 0 20px;  
            top: 0; 
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            align-items: center;  
        }
    }
    
    
}

&__Header{
   align-items: center;
   margin-left: 1.8rem;
    @media (min-width: 768px) {
       margin: 0;
       top: 2rem;
       right: -2rem;
       display: none;
    }
    &--rectangle{
        width: 100px;
        @media (min-width: 768px) {
            display: none;
        }
    
    }
    &--info{
      margin-left: 1.3rem;
      margin-right: 1.3rem;
        @media (min-width: 768px) {
            margin-left: 2rem;
            margin-top: 6rem;
        }
    }
    
    &--text{
        margin-top: -2rem;
    }
    &--icon{
        display: flex;
        position: relative;
        z-index: 1500;
        width: 30rem;
        height: 25.7rem;
        transform: translateX(0%);
        transform: translateY(8%);
        margin: 0 auto 5rem;
        
    }
}
&__background {
    display: none;
    @media (min-width: 768px) {
        display: block;
    }
}
}
