.arrow {
  cursor: pointer;
  width: 2.063rem;
  height: 1.688rem;

  @media screen and (min-width: 1024px) {
    width: 4.375rem;
    height: 3.75rem;
  }

  @media screen and (min-width: 1440px) {
    width: 6.438rem;
    height: 5.438rem;
  }
}
