@use "@styles/variables";

.Navbar {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity: 1;
  pointer-events: auto;
    @media (min-width: 1024px) {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      padding: 0;
      display: block;
    }
    @media (min-width: 1440px) {
      width: 109rem;
      padding-left: 6rem;
    }

  &__openMenu {
    position: absolute;
    border: none;
    background: variables.$white;
    top: 2rem;
    right: 0;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__closeMenu {
    position: absolute;
    border: none;
    background: variables.$white;
    top: 2rem;
    right: 0;
    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__li {
    list-style: none;
    padding: 3rem 1rem;
    background: variables.$white;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid variables.$lightGrey;
    @media (min-width: 1024px) {
      display: block;
      list-style: none;
      max-width: 140px;
      text-align: center;
    }
  }

  &__list {
    position: absolute;
    top: 6.8rem;
    left: 0;
    padding: 0;
    width: 100%;
    @media (min-width: 1024px) {
      display: block;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0; 
    }
      @media (min-width: 1440px) {
        width: 109rem;
      }
  }

  &__item {
    list-style: none;
    font-size: 2rem;
    line-height: 1.4rem;
    color: variables.$black;
    cursor: pointer;
    text-decoration: none;
      @media (min-width: 1024px) {
        display: block;
        text-decoration: none;
        color: variables.$black;
        font-size: 1.8rem;
        line-height: 2rem;
        cursor: pointer;
        justify-content: space-between;
      }
  }

  &__invisible {
    opacity: 0;
    pointer-events: none;
  }
}

// .NavbarDesktop {
//   display: none;
  // @media (min-width: 1024px) {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // text-align: center;
  // padding: 0;
  // display: block;

//   @media (min-width: 1440px) {
//     width: 109rem;
//     padding-left: 6rem;
//   }

//   &__li {
//     display: none;
//   @media (min-width: 1024px) {
//     display: block;
//     list-style: none;
//     max-width: 140px;
//     text-align: center;
//   }
// }

//   &__list {
//     display: none;
//   @media (min-width: 1024px) {
//     display: block;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0;
//     @media (min-width: 1440px) {
//       width: 109rem;
//     }
//   }
// }

//   &__item {
//     display: none;
//   @media (min-width: 1024px) {
//     display: block;
//     text-decoration: none;
//     color: variables.$black;
//     font-size: 1.8rem;
//     line-height: 2rem;
//     cursor: pointer;
//     justify-content: space-between;
//   }
// }
// }
// }