@use "@styles/variables";

.aboutContent {
  margin: 2rem 1.5rem 2rem 1rem;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1.4rem;
    background-color: variables.$white;
    filter: drop-shadow(0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  }

  &--text {
    width: 20%;
    opacity: 60%;
    text-align: center;
  }

  &__paragraph {
    justify-content: center;
    text-align: left;
    line-height: 2.4rem;
    padding: 0.5rem;
    @media screen and (min-width: 1024px) {
      font-size: 2.8rem !important;
      line-height: 3rem;
    }
  }

  &__title {
    width: fit-content;
    margin: 0 auto;
    p {
      font-size: 2.2rem;
      line-height: 2.8rem;
      @media (min-width: 1024px) {
        font-size: 3rem;
      }
      @media (min-width: 1440px) {
        font-size: 4rem;
      }
    }
  }
  &__tags {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto 2.1rem 0.58rem;
    @media (min-width: 1024px) {
      display: none;
    }
  }
}
