@use "@styles/variables";
.TabsRoot{
    
    display: flex;
    width: 100%;
    height: 100%;
    margin: 2rem 3rem;
    flex-direction: column;
    
}

.TabsList{
   display: flex;
   justify-content: space-around;
  
}

.TabsTrigger{
    position: relative;
    justify-content: space-between;
    margin: 1rem;
    border: 0;
    padding: 0;
    background-color: variables.$color-000;
    opacity: 60%;

    &--text:hover {
        color: #6C79DB;
        border-bottom: 1px solid #6C79DB;
        font-weight: bold;
        opacity: 100%;
    }
    &--text:focus-within {
        color: #6C79DB;
        border-bottom: 1px solid #6C79DB;
        font-weight: bold;
        opacity: 100%;
    }
 
}

.TabsContent{
    display: flex;
    flex-direction: column;
    
    
}