@use "@styles/variables";

.TabsRoot {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
}

.TabsList {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  @media (min-width: 1024px) {
    position: fixed;
    top: 30px;
  }
}

.TabsTrigger {
  position: relative;
  justify-content: space-between;
  margin: 1rem;
  border: 0;
  padding: 0;
  background-color: variables.$white;

  

  &--text:hover {
    color: variables.$blue;
    border-bottom: 1px solid variables.$blue;
    font-weight: bold;
  }
}

.TabsContent {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    margin-top: 11rem;
  }
}
