@use "@styles/variables";

.inspiredBy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__picture {
    width: 6.625rem;
    height: 6.625rem;
    border-radius: 100%;
  }

  &__text {
    margin-bottom: 1.25rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: variables.$black;
  }

  &__link {
    text-decoration: none;
    color: variables.$black;
  }
  &__name {
    font-size: 1rem;
    line-height: 1.188rem;
  }
}

@media screen and (min-width: 1024px) {
  .inspiredBy {
    &__picture {
      width: 16.25rem;
      height: 16.25rem;
    }

    &__text {
      font-size: 1.875rem;
      line-height: 2.188rem;
    }

    &__name {
      margin: 0;
      font-size: 1.875rem;
      line-height: 2.188rem;
    }
  }
}
