.Line {
    border-bottom: 1px solid #000;
    opacity: 0.6;
    position: fixed;
    top: 7.6rem;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 0;
    padding: 0;
    @media (min-width: 1024px) {
        top: 14.2rem;
    }
}