@use "@styles/variables";

.authorsPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    margin: 0 0 5.5rem;
  }
}

.authorsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 5rem;
  
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2.063rem;
    grid-row-gap: 1.5rem;
   
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4.063rem;
    grid-row-gap: 2.938rem;
  }
}
