@use "@styles/variables";
@use "styles/mixins.scss";

.animalsCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding-bottom: 3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  cursor: pointer;

  &__name {
    line-height: 2.5rem;
    margin: 0 !important;
    padding: 0 !important;

    h2 {
      line-height: 2.5rem;
      padding: 3rem 0 1.5rem 0;
      margin: 0;
    }
  }

  &__details {
    display: grid;
    grid-template: "classification img" / 1fr 1fr;
    grid-gap: 2rem;
    margin: 0;
    padding: 0;
  }

  &__classification {
    grid-area: classification;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  &__img {
    grid-area: img;
    align-self: center;
    object-fit: contain;
    width: 100%;
    max-width: 170px;
    max-height: 170px;
  }
  @include mixins.bg_cardColor;
}
