@use "@styles/variables";

.animalsCard {
  display: grid;
  grid-template:
    "name name" auto
    "classification img" auto
    "classification img" auto
    / 50% 50%;
  // position: relative;
  width: 95%;
  height: 250px;
  border-radius: 1rem;
  padding: 0.8rem;
  overflow: hidden;
  text-decoration: none;

  &__name {
    grid-area: name;
    width: fit-content;
    height: fit-content;
    margin-left: 0.5rem;
  }

  &__classification {
    grid-area: classification;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 0.8rem;
  }

  &__img {
    grid-area: img;
    align-self: center;
    object-fit: contain;
    width: 90%;
    max-height: 90%;
    max-width: 170px;
    max-height: 170px;
  }

  &--blue {
    background-color: variables.$blue;
  }
  &--purple {
    background-color: variables.$purple;
  }
  &--pink {
    background-color: variables.$pink;
  }
  &--green {
    background-color: variables.$green;
  }
  &--oliveGreen {
    background-color: variables.$oliveGreen;
  }
  &--red {
    background-color: variables.$red;
  }
}
