.animalsCard {
  display: grid;
  grid-template:
    "name name" auto
    "classification img" auto
    "classification img" auto
    / 50% 50%;
  // position: relative;
  width: 95%;
  height: 250px;
  border-radius: 1rem;
  padding: 0.8rem;
  overflow: hidden;
  text-decoration: none;

  &__name {
    grid-area: name;
    width: fit-content;
    height: fit-content;
    margin-left: 0.5rem;
  }

  &__classification {
    grid-area: classification;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 0.8rem;
  }

  &__img {
    grid-area: img;
    align-self: center;
    object-fit: contain;
    width: 90%;
    max-height: 90%;
    max-width: 170px;
    max-height: 170px;
  }

  &--blue {
    background-color: #7D8EB5;
  }
  &--rose {
    background-color: #737185;
  }
  &--pink {
    background-color: #E98D90;
  }
  &--green {
    background-color: #B64760;
  }
  &--aqua {
    background-color: #6E786B;
  }
  &--purple {
    background-color: #567A79;
  }
}
