@use "@styles/variables";

.GeneralCuriositiesPage {
  &__Container {
    background-color: variables.$white;
    width: 100%;
    height: 100vh;
    margin-top: 3.9rem;
    margin-bottom: 5rem;
    z-index: 10;
    border-top-left-radius: 4.2rem;
    border-top-right-radius: 4.2rem;
  }
  &__Content {
    background-color: variables.$green;
    width: 100%;
    flex-direction: column;
    align-content: center;

    &--text {
      margin: 5.5rem 4.1rem auto 6.8rem;
    }
  }
  &__Header {
    display: flex;
    margin: -5rem auto auto 0.2rem;
    width: 100%;
    height: 2.5rem;
    justify-content: space-around;
    align-items: center;

    &--rectangle {
      display: flex;
    }
  }

  &__Arrow {
    position: absolute;
    top: 50px;
    left: 20px;
  }
}
