@use "@styles/variables";
.AnimalsCuriositiesPage {
  &__arrow {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    margin: 5rem auto 0rem auto;
    z-index: 99;
    @media (min-width: 768px) {
      display: flex;
      position: relative;
    }
  }
}
