@use "@styles/variables";

.OceanCuriosities{
    &--Img{
        border-radius: 2.4rem;
        width: 30rem;
        height: 31.2rem;
        margin: 3rem auto auto 3rem;
        
        }
        &--Text{
            width: 32.1rem;
            height: 15rem;
            line-height: 2.8rem;
            opacity: 0.6;
            margin: auto;
            margin: 3rem auto auto auto;
            overflow-y: auto;
            max-height: 15rem;
            text-align: justify;
           }
        &--Arrow{
            display: flex;
            justify-content: space-evenly;
            margin: -25rem auto 0rem auto;
            width: 30rem;
        }
  &__container {
    background-color: variables.$color-500;
    width: 37.5rem;
  
  }
  &__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 34rem;
    margin-top: -9rem;
    
   }
   &--rectangle{
      display: flex;
          position: relative;
          top: 0;
          left: 0;
          
  }
  &__content {
    margin-top: 3rem;
    background-color: variables.$color-000;
    width: 37.5rem;
    height: 79rem;
    flex-direction: column;
    align-content: center;
    border-top-left-radius: 4.2rem;
    border-top-right-radius: 4.2rem;
   
  }
 &--button{
    cursor: pointer;
    z-index: 5;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
 }

  &__background{
    bottom: 0;
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: -6rem;
   

}
 
}


