.Background {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  max-height: 90%;
  width: 100%;
  z-index: 0;
  position: absolute;
  bottom: 0;
  opacity: 50%;
}
