.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  z-index: 0;
  position: fixed;
  bottom: 0;
  opacity: 50%;

  @media (min-width: 768px) {
    opacity: 15%;
  }
}
