.Background {
  &__ContainerBackgroundImage {
    position: relative;
    width: 100%;
    z-index: -1;

    &__BackgroundImage {
      opacity: 0.2;
      position: absolute;
      bottom: -90%;
      width: 100%;
      z-index: -1;
      @media (max-width: 1023px) {
        display: none;
      }
    }
    &__BackgroundImageMobile {
      display: none;
      @media (max-width: 1023px) {
        bottom: -90%;
        display: block;
        position: absolute;
        width: 100%;
        img {
          border-radius: 0.23rem;
        }
      }
    }
  }
}
