@use "@styles/variables";
.Background {
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  max-height: 95%;
  width: 100%;
  z-index: 0;
  position: fixed;
  bottom: 0;
  
  @media (min-width: variables.$tablet){
    display: flex;
    opacity: 15%;
  }
}
