@use "@styles/variables";

.OceanWorldwide{
  &__container {
    background-color: variables.$color-500;
    width: 37.5rem;
   &--text{
    display: none;
   }
  
  }
  &__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 34rem;
    margin-top: -9rem;
    
   }
   &--rectangle{
      display: flex;
          position: relative;
          top: 0;
          left: 0;
          
  }
  &__content {
    margin-top: 3rem;
    background-color: variables.$color-000;
    width: 37.5rem;
    height: 60rem;
    flex-direction: column;
    align-content: center;
    border-top-left-radius: 4.2rem;
    border-top-right-radius: 4.2rem;
   
  }
  &__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 6rem 10rem;
    z-index: 5;
    &--unit{
        margin: 1rem;
    }
    
  }

  &__background{
    bottom: 0;
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: -25.5rem;
   

}
 
}


