$fontsmall:14px;
$fontmedium:24px;

$blue: #687696;
$darkBlue: #303943;

$purple: #737185;
$green: #567A79;
$oliveGreen: #6E786B;
$red: #B64760;
$pink: #B34884;

$black: #000000;
$black--opacity: #00000042;

$white: #FFFFFF;
$offWhite: #F5F5F5;

$lightGrey: #cccccc;
$grey: rgba(255, 255, 255, 0.2);
$darkGrey: rgba(0, 0, 0, 0.25);