@use "variables";
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

/* variables */

* {
  font-size: 62.5%; /* 1rem =10px; */
  font-family: "AbeeZee", sans-serif;
}
*::-webkit-scrollbar {
  // display: none;
}
 
html {
  margin: 0;
  padding: 0;
  background-color: variables.$color-000;
}

body {
  margin: 0;
  padding: 0;
}

/*
html {
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;

  text-rendering: optimizeLegibility;
}

body {
  color: #000;

  margin: 0;

  padding: 0;

  @media print {
    background-color: transparent;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;

  padding: 0;

  font-weight: inherit;
}
 */