@use "@styles/variables";

.Home{  
  position: relative;

  &__container {
    background-color: variables.$color-000;
    width: 100%;
    height: 100vh;
    padding: 117px 33px 72px 26px;
    display: flex;
    flex-direction: column;
  }
  
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    z-index: 5;
  }

  &__buttons{
    display: flex;
    align-items: center;
    &--unit{
        margin: 1rem;
    } 
  }

  &__background{
    position: absolute;    
    bottom: 0;
  }
}