@use "@styles/variables";
@use "styles/mixins.scss";

.button {
  border-radius: 15px;
 
  border: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font-size: 1.8rem;

  @media (min-width: 1440px) {
    display: none;
  }
  &--medium {
    width: 15.5rem;
    height: 6rem;
    @media (min-width: 768px) {
      min-width: 60%;
    }
  }
  &--large {
    width: 22rem;
    height: 7.3rem;
    @media (min-width: 768px) {
      min-width: 60%;
    }
  }
&__icon{
  width: 6.7rem;
  height: 6.4rem;
  position: relative;
  display: flex;
  top: -7rem;
  left: -10rem;
  flex-direction: column;
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
   
  }

  @media (min-width: 1024px){
    display: none;
  }
  
  }
  @include mixins.bg_cardColor
}
